/* #region root */
:root{
    --light-heavenly: #add8e6;
    --orange: #daa520;
    --dark-blue: #00008b;
    --pink: #ee82ee;
    --light-blue: #1e90ff;
    --salmon:  #ffc0cb;
    --light-wood: #d3d3d3;
    --green: #228b22;
    --black: #23272a;
    --salmon-2: #f08080;
    --acquamarine: #20b2aa;
    --login: #eca9b3;
    --bg-login: #7fffd4;
}
/* #endregion root */
/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}
.bg{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: 12%;
    width: 100%;
}
.second-section, .third-section, .fourth-section, .fifth-section{
    display: flex;
    height: 100%;
    width: 65%;
    margin: auto;
    background-color: #ffffff;
}   
/* #endregion common */
/* #region debug */
.debug *{
    border: 1px dashed black;
}
.debug .dblue .first-section{
    height: 300px;
}
.debug .white{
    height: 300px;
}
.debug .lwood{
    height: 300px;
}
.debug .lwood2{
    height: 500px;
}
.debug .footer{
    height: 350px;
}

/* #endregion debug */
/* #region header */
.bg-heavenly{
    background-color: var(--light-heavenly);
    display: flex;
    height: 60px;
}
.h-flex{
    margin: auto;
    display: flex;
    background: var(--orange); 
    width: 70%;
}
.logo{
    width: 25%;
    padding-left: 0.5rem;
}
.link{
    width: 50%;
    text-align: center;
}
.login{
    width: 25%;
    text-align: end;
    padding-right: 0.5rem;
}
/* #endregion header */
/* #region main */
.m-flex{
    flex-wrap: wrap;
    display: flex;
}
.bg{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 100%;
    
}
/* #endregion main */
/* #region first section */
.dblue{
    background-color: var(--dark-blue);
    width: 100%;
    padding: 30px;
}
.first-section{
    background-color: var(--pink);
    width: 60%;
    margin: auto;
}
/* #endregion first part main */
/* #region second section */
 .white{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 100%;
    
}  
.lblue{
    background-color: var(--light-blue);
    width: 65%;;
}
.salmon{
    background-color: var(--salmon);
    width: 35%;
}

/* #endregion second part main */
/* #region third section */
.lwood{
    background-color: var(--light-wood);
    display: flex;
    padding: 30px;
    width: 100%;;
}
.lblue2{
    background-color: var(--light-blue);
    width: 35%;
}
.salmon2{
    width: 65%;
    background-color: var(--salmon);
}
/* #endregion third section */
/* #region fifth section */
.lwood2{
    display: flex;
    background-color: var(--light-wood);
    padding: 30px;
    width: 100%;
}
.green{
    background-color: var(--green);
    width: 100%;
}
/* #endregion fifth section */
/* #region footer */
.f-flex{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(255, 0, 0);
    background-color: var(--black);
} 
.footer{
    background-color: var(--black);
    padding: 30px;
    justify-content: center;
    border-bottom: 2px solid rgb(255, 0, 0);
}
.salmon3{
    background-color: var(--salmon-2);
    width: 25%;
}
.acq{
    background-color: var(--acquamarine);
    width: 10%;
}   
.secondfooter{
    width: 62%;
    margin: auto;
    margin-top: 7px;
}

.sfooter{
    background-color: var(--bg-login);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 7px;
}
.second-logo, .button{
    background-color: var(--login);
    font-size: 15px;
    width: 60px;
    height: 30px;
    text-align: center;
    margin-top: 3px;
    border: 6px dashed #00000000;
}
.second-logo{
    margin-left: -7px;
}
.button{
    margin-right: -7px;

}    
/* #endregion footer */