/* #region root */
:root{
    --light-heavenly: #add8e6;
    --orange: #daa520;
    --dark-blue: #00008b;
    --pink: #ee82ee;
    --light-blue: #1e90ff;
    --salmon:  #ffc0cb;
    --light-wood: #d3d3d3;
    --green: #228b22;
    --black: #23272a;
    --salmon-2: #f08080;
    --acquamarine: #20b2aa;
    --login: #eca9b3;
    --bg-login: #7fffd4;
}
/* #endregion root */
/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

/* #region debug */
.debug *{
    border: 1px dashed black;
}


/* #endregion debug */

/* #region header */
.bg-heavenly{
    background-color: var(--light-heavenly);
    display: flex;
    height: 60px;
}
.h-flex{
    margin: auto;
    display: flex;
    background: var(--orange); 
    width: 70%;
}
.logo{
    width: 25%;
    padding-left: 0.5rem;
}
.link{
    width: 50%;
    text-align: center;
}
.login{
    width: 25%;
    text-align: end;
    padding-right: 0.5rem;
}
/* #endregion header */
/* #region main */
.m-flex{
    height: 1000px;
    flex-wrap: wrap 

}
/* #region first part main */
.bg-dblue{
    background-color: var(--dark-blue);
    height: 40%;
    width: 100%;
    padding: 30px;
}
.first-section{
    background-color: var(--pink);
    height: 100%;
    width: 60%;
    margin: auto;
}
/* #endregion first part main */
 /* #region second part main */
 .bg-white{
    display: flex;
    background-color: rgb(0, 204, 255);
    padding: 30px;
    height: 50%;
    width: 100%;
    
}  
.second-section{
    display: flex;
    height: 100%;
    width: 65%;
    margin: auto;
    background-color: #ffffff;
}
.lblue{
    background-color: var(--light-blue);
    width: 65%;
    height: 100%;
}
.salmon{
    background-color: var(--salmon);
    height: 100%;
    width: 35%;
} */
/* #endregion second part main */
